/* Estilo para la barra de navegación */
.navbar {
    background-color: #378;
}
.navbar-brand, .nav-link {
    color: #beige;
}
.nav-link:hover {
    color: #blue !important;
}
.text-center {
    color: #337788;
}

/* Estilo para la barra de búsqueda */
.search-bar {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.search-bar .btn-secondary {
    background-color: #337788;
    color: #fff;
}

/* Tarjetas de productos */
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.card-img-top {
    height: 200px auto;
    object-fit: fill;
}
.card-img-top:hover {
    margin-bottom: 20px;
}
.card-title {
    font-size: 1.2em;
    font-weight: bold;
}
.btn-primary {
    background-color: #337788;
    border: none;
    color: #fff;
}
.btn-primary:hover {
    background-color: #e68a00;
}

/* Formulario de suscripción */
#subscribe {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
}
#subscribe .btn-primary {
    background-color: #337788;
    color: #fff;
}
#subscribe .btn-primary:hover {
    background-color: #000001;
}
.text-white {
    background-color: #337788;
}
h1 {
    color: white;
    text-shadow: 
    0 0 10px #333333;
}
.btn-3 {
    background-color: #337788;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: 290px;
    margin-right: 290px;
    border-radius: 5px;
}
    
